@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 80px; 
}

/* Make the color line fixed at the top */
.color-line {
    position: fixed;
    height: 5px;
    background: linear-gradient(90deg, #FFDD3A 0%, #FF3FE0 10%, #64FFFF 25%, #E7FF64 40%, #FFE03C 50%, #FF3FE0 60%, #64FFFF 75%, #E7FF64 90%, #FFDD3A 100%);
    background-size: 200% 100%;
    -webkit-animation: colorLineMovement 2.5s linear infinite;
    animation: colorLineMovement 2.5s linear infinite;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it's above other content */
}

@keyframes colorLineMovement {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* Make the menu bar fixed below the color line */
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Make it full width */
    height: 65px;
    background-color: #000000;
    position: fixed;
    top: 5px; /* Place it just below the color line */
    padding: 0 40px;
    z-index: 999; /* Ensures it's above other content but below the color line */
}

.status-icon2 {
display: inline-block;
width: 8px;
height: 8px;
border-radius: 50%;
background: #00CB61;
color: #0A3F26;
cursor: pointer;
box-shadow: 0 0 0 rgba(139, 195, 74, 0.4);
animation: pulse 2.5s infinite;
font-size: 0.6rem;
line-height: 11px;
position: relative;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(139, 195, 74, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(139, 195, 74, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(139, 195, 74, 0);
    }
}


.status {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 1.5rem;
}

.status-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #FFFFFA;
    gap: 0.5rem;
    margin-left: 20px; /* Adjust this value to move it 20px from the left */
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.status-text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 5.5px;
}

.status-icon {
    width: 17px;
    height: 17px;
    margin-right: 1px;
}

.status-label {
    font-size: 9px;
    color: #bfbfbf;
}

.navigation ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 1.5rem; /* Adjust this value to move it 20px from the right */
}

.navigation a {
    color: #fffffa;
    text-decoration: none;
    font-size: 14px;
}

.navigation .cta {
    padding: 5px 15px;
    border: 1px solid #fffffa;
    border-radius: 20px;
}

.navigation .cta:hover {
    background-color: #fffffa;
    color: #191A19;
}

.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    padding: 40px 20px;
    margin-top: 130px; /* Adjusted to account for the fixed menu bar */
    background: linear-gradient(180deg, #373737 0%, #1D1C1C 100%);
    border-radius: 22px;
}

.left-content {
    max-width: 50%;
    padding-left: 80px;
    padding-bottom: 50px;
}

.left-content h1 {
    font-size: 36px;
    color: #fffffa;
    margin-bottom: 20px;
}

.left-content p {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fffffa;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.cta-primary, .cta-secondary {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.cta-primary {
    color: #FFFFFA;
    border: 1px solid #FFFFFA;
    border-radius: 20px;
}

.cta-secondary {
    color: #FFFFFA;
    border: 1px solid #FFFFFA;
    border-radius: 20px;
}

.cta-primary:hover, .cta-secondary:hover {
    background-color: #fffffa;
    color: #191A19;
}

.right-content img {
    width: 400px;
    height: 400px;
    max-width: 100%;
    padding-right: 60px;
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
    width: 1200px; /* Set the width to match the intro and services sections */
    margin: 30px auto; /* Center the bento box */
}

.box {
    position: relative;
    border-radius: 22px;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}

.text-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.text-content h1 {
    font-size: 24px;
    margin: 0;
}

.text-content h2 {
    font-size: 16px;
    margin: 5px 0 0;
}

.large-box {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
}

.services-section {
    display: flex;
    justify-content: space-between;
    width: 1210px;
    margin: 30px auto;
}

.service-tile {
    background: linear-gradient(180deg, #373737 0%, #1D1C1C 100%);
    border-radius: 22px;
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}

.service-tile h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-tile p {
    font-size: 16px;
    margin: 0;
}

.about-me-section {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 30px auto;
    background: linear-gradient(180deg, #373737 0%, #1D1C1C 100%);
    border-radius: 22px;
    padding: 30px;
    color: #ffffff;
}

.skills {
    width: 50%;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #4a4a4a;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: linear-gradient(to right, #FFDD3A 0%, #FF3FE0 10%, #64FFFF 25%, #E7FF64 40%, #FFE03C 50%, #FF3FE0 60%, #64FFFF 75%, #E7FF64 90%, #FFDD3A 100%);
    border-radius: 5px;
    background-size: 200% 100%;
    -webkit-animation: colorLineMovement 2.5s linear infinite;
    animation: colorLineMovement 2.5s linear infinite;
}

.about-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    width: 100%;
    background-color: #000000;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-line {
    width: 1210px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1210px;
    margin: 20px auto 0;
    color: #ffffff;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-right p {
    margin: 0;
}